<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Landing Page -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DSA - JS</title>
		<link rel="stylesheet" href="../style.css" />

		<!-- Bootstrap Styles Plugin -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous" />
	</head>

	<body class="">
		<!-- Navbar - Bootsrap -->
		<nav
			class="navbar bg-body-tirtiary navbar-expand-sm sticky-top border-bottom border-light-subtle">
			<div class="container-fluid px-0 mx-2">
				<a
					href="https://crio-4me.jagadeeshwar.net"
					class="navbar-brand h1"
					style="margin-left: 1rem"
					>Crio.Do 4 Me</a
				>

				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#togglerTargetNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="collapse navbar-collapse justify-content-sm-center"
					id="togglerTargetNavbar"
					style="margin-left: 1rem">
					<ul class="navbar-nav">
						<li class="navbar-item">
							<a href="../index.html" class="nav-link">Home</a>
						</li>
						<li class="navbar-item">
							<a href="https://crio-4me.jagadeeshwar.net" class="nav-link"
								>Explore</a
							>
						</li>
						<li class="navbar-item">
							<a href="https://profile.jagadeeshwar.net" class="nav-link"
								>View Profile</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="content h-100">
				<div>
					<h5
						class="btn btn-success"
						data-bs-toggle="collapse"
						role="button"
						href="#collapseTarget1">
						What's for this session ?
					</h5>
					<div class="collapse" id="collapseTarget1">
						<div class="card card-body">
							<ul>
								<li><strong>DSA (What? Why? How?)</strong></li>
								<ul>
									<li>How to master DSA?</li>
								</ul>

								<li><strong>Programming Fundamentals</strong></li>
								<ul>
									<li>Crio DSA platform</li>
									<li>
										Recap - Variables, Syntax, data types, loop, Conditional
										Statements
									</li>
								</ul>

								<li>
									<strong>Introduction to Space and Time Complexity</strong>
								</li>
								<ul>
									<li>What is Time Complexity?</li>
									<li>What is Space Complexity?</li>
									<li>Tradeoff between the two</li>
								</ul>

								<li><strong>Solve Problems</strong></li>
							</ul>
						</div>
					</div>
				</div>

				<div>
					<h5
						class="btn btn-success"
						data-bs-toggle="collapse"
						role="button"
						href="#collapseTarget2">
						DSA
					</h5>
					<div class="collapse" id="collapseTarget2">
						<div class="card card-body">
							<ul>
								<li><strong>What ?</strong></li>
								<ul>
									<li>Combination of Data Structure and Algorithms</li>
									<li>
										DS : Efficient data management to improve storage and
										retrieval
									</li>
									<li>
										Algorithm: Set of instructions to solve a particular problem
									</li>
								</ul>

								<li><strong>Why should we learn ?</strong></li>
								<ul>
									<li>A building block of Software Development</li>
									<li>
										Helps us develop memory and time effecient
										application/software
									</li>
									<li>
										Helps us shape our thought process - try to optimize our
										solution, suggest alternatives
									</li>
									<li>
										Similar process is being followed in Software Development
									</li>
									<li>Popular interview Standard</li>
								</ul>

								<li>
									<strong>How ?</strong>
								</li>
								<ul>
									<li>
										<strong>Consistency</strong> is the <b>key,</b> practice
										daily!!
									</li>
									<li>
										Ensure that you solve problem on you own, do not copy-paste
										from internet.
									</li>
									<li>
										Ok to read / understand the solution, but please implement
										it on your own after that.
									</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>

				<div>
					<h5
						class="btn btn-success"
						data-bs-toggle="collapse"
						role="button"
						href="#collapseTarget3">
						Programming Fundamentals
					</h5>
					<div class="collapse" id="collapseTarget3">
						<div class="card card-body">
							<ul>
								<li>
									<strong
										>Variables
										<a href="https://youtu.be/9WIJQDvt4Us?si=rcqVctlA8bngswNS"
											>(Recap.)</a
										></strong
									>
								</li>
								<ul>
									<li>Containers for Store values or data</li>
								</ul>

								<li>
									<strong
										>Syntax
										<a href="https://youtu.be/NCwa_xi0Uuc?si=5Nh38qLeVAuq2ihz"
											>(Recap.)</a
										></strong
									>
								</li>
								<ul>
									<li>Each programming language has its own syntac</li>
									<li>
										<strong>Keyword :</strong> pre-defined, reserved words that
										have special meanings to the compiler
									</li>
								</ul>

								<li>
									<strong
										>Data Types
										<a href="https://youtu.be/UmSpfdxu3ro?si=kFEzhDi2lNrwEpsM"
											>(Recap.)</a
										></strong
									>
								</li>
								<ul>
									<li>
										<strong>Classification of data like :</strong> Stings,
										Numbers, Boolean, Undefined, Null
									</li>
									<li>
										Further sub-division of data : Why do we need that ?
										<ul>
											<li>For better memory management</li>
										</ul>
									</li>
									<li>Data Types Vs Data Structure</li>
								</ul>

								<li>
									<strong
										>Conditionals
										<a href="https://youtu.be/wT-1T7Ws5qY?si=LN0OR-b_pvfq9aGJ"
											>(Recap.)</a
										></strong
									>
								</li>
								<ul>
									<li>If, if..else, turnery operators</li>
									<li>Switch</li>
									<li>break</li>
									<li>continue</li>
								</ul>

								<li>
									<strong
										>Loops
										<a href="https://youtu.be/LuAWFium1nk?si=E7pEqvlLaSK13Jv6"
											>(Recap.)</a
										></strong
									>
								</li>
								<ul>
									<li>for</li>
									<li>While</li>
									<li>do Wile</li>
									<li>forEach</li>
									<li>for..of</li>
									<li>for..in</li>
								</ul>

								<li>
									<strong>Constraints</strong>
								</li>
								<ul>
									<li>Refers to restrictios & limitations</li>
									<li>
										Generally imposed on the input, helps us figure out the
										correct data type and Algorithm
										<ul>
											<li>
												Ex.: The array given to you will have less than 10^6
												elements.
											</li>
										</ul>
									</li>
								</ul>

								<li>
									<strong>Debugging</strong>
								</li>
								<ul>
									<li>
										Identification & Removal of bugs / errors in the code.
									</li>
									<li>
										Important skill that comes when writing and executing code.
									</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>

				<section class="quick-cards">
					<section class="cards-section">
						<a href="../modules/spc_comp.html" target="_blank">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Space Complexity</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</a>

						<a href="../modules/time-comp.html" target="">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Time Complexity</strong></p>
										<p>Big-O</p>
									</article>
								</section>
							</section>
						</a>

						<a href="../modules/trade_off.html" target="">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Trade off</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</a>
					</section>
				</section>
			</div>
		</div>

		<footer class="fixed-bottom bg-info-subtle">
			<div>© Jagadeeshwaran Eswaran | 2023</div>
		</footer>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	</body>
</html>
